/*
* Style within this document
* 
* Global Style
*/

/*: Global Style*/
ol, ul {
    list-style: none
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle
}
q, blockquote {
    quotes: none
}
q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none
}
a img {
    border: none
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block
}
.mobile-touch-overflow {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
    -o-overflow-scrolling: touch;
    -ms-overflow-scrolling: touch;
    overflow-scrolling: touch
}
.mobile-touch-overflow, .mobile-touch-overflow * {
    -webkit-transform: rotateY(0)
}
.block {
    display: block;
    position: relative;
}
h1 {
    margin: 0 0 0 0;
    margin-top: 10px;
    color: #000;
    font-weight: 300;
    font-size: 1.6em;
    font-family: "DosisMedium", sans-serif;
    line-height: 1.2em
}
h2 {
    margin: 0 0 10px 0;
    color: #000;
    font-weight: 300;
    font-size: 1.4em;
    font-family: "DosisMedium", sans-serif;
    line-height: 1.2em;
    text-shadow: 0px 1px 0 rgba(255, 255, 255, 0.7)
}
h3 {
    margin: 0 0 15px 0;
    font-family: "DosisMedium", sans-serif;
    font-size: 1.2em;
    line-height: 1.2em;
    font-weight: 300;
    color: #000
}
h5 {
    margin: 0 0 0 0;
    font-family: "DosisMedium", sans-serif;
    font-size: 1em;
    line-height: 1.2em;
    font-weight: 300;
    color: #000;
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=60);
    opacity: 0.6
}
p, .row li {
    font-family: "DosisMedium", sans-serif;
    font-size: 1em;
    line-height: 1.6em;
    font-weight: 300;
    color: #000;
}
.additional p {
    color: #999999;
}
p strong, .row li strong {
    font-weight: 400;
    color: #ee8a1d
}
p a, .row li a {
    color: #000;
    text-decoration: none;
    transition: color 0.3;
}
html {
    overflow-x: hidden
}
html, html a {
    -webkit-font-smoothing: antialiased !important;
}
a {
    transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    color: #5B595C;
}
a:hover {
    text-decoration: none;
}
.form-control::-moz-placeholder {
  opacity: 1;
  font-weight: 500;
}
.form-control:-ms-input-placeholder {
  font-weight: 500;
}
.form-control::-webkit-input-placeholder {
  font-weight: 500;
}
.bg-cover {
    padding: 20px 0 30px;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    position: relative;
    display: block;
    background-image: url(../img/general-cover.jpg);
    min-height: 100px;
}
.btn:hover, .btn:focus, .btn:active, .btn.active{
    background-color: #35F284;
    border-color: #2BB665;
}
.form-horizontal .control-label{
    font-family: 'DosisBook', sans-serif;    
    font-weight: 500;
    text-align: left;
    font-size: 1.1em;
    color: #000;
}
.form-horizontal .checkbox-custom{
    display: block;
    color: #000;
    font-family: 'DosisBook', sans-serif;    
    font-weight: 500;
    font-size: 1.1em;
}
a.term-clause{
    color: #2ECB70;
}
body {
    width: 100%;
    font-size: 13px;
    overflow-x: hidden;
    background-color: #F1F1F1;
}
.col-heading {
    color: #000;
    position: relative;
    display: block;
    text-transform: uppercase;
}
.col-heading h1 {
    text-transform: uppercase;
    display: block;
    font-size: 2em;
}
/* all */
*::-webkit-input-placeholder {
    color: #000;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: #000;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: #000;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: #000;
}

/*Your Theme Style*/

.homepage .content-wrapper {
    overflow: hidden;
    position: relative;
    background: #fff;
    
}
.content-wrapper {
    background: #FFF;
    position: relative;
    overflow: hidden;
}
/*.bg-wrapper{
    z-index: 0;
    position: absolute;
    display: block;
    width: 100%;
}*/
#main-content {
    position: relative;
    display: block;
}
.homepage #main-content {
    position: relative;
    display: block;
}
.homepage #main-content:before{
    background: none repeat scroll 0 0 #fff;
    content: "";
    height: 9999px;
    position: absolute;
    right: -900px;
    top: 200px;
    width: 9999px;
    z-index: 0;
    transform: rotate(-5deg) ;
    -webkit-transform: rotate(-5deg) ;
    -moz-transform: rotate(-5deg) ;
    -o-transform: rotate(-5deg) ;
    -ms-transform: rotate(-5deg) ;

}
.packages {
    margin-top: 20px;
}
.package-post-detail {
    background-color: #FFF;
    padding: 20px 20px 40px;
    color: #000;
    position: relative;
}
.package-post-detail:before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 33px 15px;
    border-color: transparent transparent #ffffff transparent;
    line-height: 0px;
    _border-color: #000000 #000000 #ffffff #000000;
    _filter: progid: DXImageTransform.Microsoft.Chroma(color='#000000');
    content: "";
    position: absolute;
    top: -33px;
    left: 42.5%;
    right: 42.5%;
}
.package-post-detail h2 {
    color: #000;
    font-size: 1.5em;
}
.package-post-detail p {
    color: #000;
    font-family: "DosisBook", sans-serif;
    font-size: 1.1em;
    font-weight: 500;
}
.package-post-detail .read-more {
    font-family: 'DosisBook', sans-serif;
    position: absolute;
    bottom: 10px;
    left: 25px;
}
.package-post-detail .read-more a {
    color: #2ECD71;
}
.all-post {
    margin-top: 20px;
}
/*Header*/
#header{
    position: absolute;
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
    z-index: 9;
}
ul.social-icon > li > a {
    color: #000 !important;
    font-size: 1.8em;
}
ul.social-icon > li > a:hover {
    color: #fff !important;
}
/*Navbar*/
.content-wrapper .navbar-default {
    background: #fff;
    border: none;
}
.navbar-transparent{
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    border-width: 0;
}
.col-dropdown {
    float: right;
    width: 100%;
    margin-top: 10px;
}
.navbar-transparent .col-dropdown  .dropdown{
    float: right;
    display: block;
    position: relative;
}
.navbar-transparent .col-dropdown  .dropdown .img-deco{
    position: absolute;
    display: block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    top: 0;
    left: -40px;
}
.navbar-transparent .dropdown .btn, .navbar-transparent .dropdown .btn.active{
    background: none;
    border: none;
    color: #000;
    font-family: 'LatoRegular', sans-serif;
    box-shadow: none;
}
.navbar-transparent .dropdown-menu {
    right: 0;
    left: auto;
}
.dropdown-menu li a{
    font-family: 'LatoRegular', sans-serif;
}
.navbar-transparent > .container{
    margin-top: 0;
    position: relative;
    display: block;
}
.navbar-nav > li {
    display: inline-block;
}
.navbar-nav > li > a {
    font-size: 1.2em;
    text-transform: uppercase;
    font-family: 'DosisMedium';    
    margin: 10px;
    padding: 10px 0;
}
.navbar-transparent .navbar-nav > li.active > a{
    border-bottom: 6px solid #33DE8F;
}
.navbar-default .navbar-text, .navbar-default .navbar-nav > li > a {
    color: #000;
    font-weight: 500;
}
.navbar-transparent .nav > li > a:hover, .navbar-transparent .nav > li > a:focus{
    background: none;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #000;
}
.navbar-nav > li > a:hover {
    color: #2DCC70 !important;
}
.content-wrapper .navbar .navbar-nav {
    display: block;
    float: right;
    vertical-align: top;
}
.navbar-brand .logo-wrapper{
    position: relative;
    display: block;
}
.content-wrapper .navbar .navbar-collapse {
    text-align: right;
}
/*Content*/

/* : Flexslider*/
#banner-homepage {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
#banner-homepage .slider {
    position: relative;
    display: block;
}
#banner-homepage .slider .flex-direction-nav a:before{
    
}
.flexslider .slides > li:first-child {
    display: block;
}
.flexslider.loading .slides > li:first-child {
    opacity: 1 !important;
}
.flexslider {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
.flexslider .slides > li{
    position: relative;
    display: block;
}
.flexslider .flex-caption {
    top: 35%;
    color: #fff;
    padding: 10px;
    position: absolute;
    width: 100%;
}
.flexslider .flex-caption h3{
    color: #FFF;
    font-size: 2.3em;
    text-align: center;
}
.flexslider .flex-caption p{
    color: #FFF;
    font-size: 1.2em;
    text-align: center;
    font-weight: 700;
}
.flex-direction-nav a {
    color: #fff !important;
    height: 95px;
    margin: -20px 0 0;
    top: 50%;
    width: 60px;
}
.flex-direction-nav a:before {
    content: '\37';
    font-family: "arrow1";
    font-size: 7em;
}
.flex-direction-nav a.flex-next:before {
    content: '\36';
}
.flex-control-nav {
    bottom: auto;
    left: 20px;
    top: 40%;
    width: 20px;
    z-index: 20;
}
.flex-control-nav li {
    display: block;
    margin: 0 0 5px;
}
.flex-control-paging li a {
    background: none repeat scroll 0 0 transparent;
    border: 2px solid #fff;
    border-radius: 100%;
    box-shadow: none;
}
.flex-control-paging li a.flex-active, .flex-control-paging li a:hover {
    background: none repeat scroll 0 0 #447A46;
    border-color: #447A46;
}
.flexslider.loading {
    position: relative;
}
.flexslider.loading:after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -webkit-animation: 1s linear 0s normal none infinite running spin;
    animation: 1s linear 0s normal none infinite running spin;
    border-color: #fff transparent #fff #fff;
    border-image: none;
    border-radius: 50%;
    border-style: solid;
    border-width: 8px;
    box-shadow: 0 0 25px 2px #eee;
    content: " ";
    height: 30px;
    margin: 0 0 0 -15px;
    position: absolute;
    right: 20px;
    top: 40%;
    width: 30px;
}
#slider-homepage .flexslider {
    padding: 0;
    border: none;
    box-shadow: none;
}
.carousel-control {
    z-index: 10;
}
#slider-homepage .carousel-caption {
    background: #FFF;
    text-shadow: none;
    bottom: 40px;
    text-align: left;
    padding: 0 50px;
}
#slider-homepage .carousel-caption:after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 33px 15px;
    border-color: transparent transparent #ffffff transparent;
    line-height: 0px;
    _border-color: #000000 #000000 #ffffff #000000;
    _filter: progid: DXImageTransform.Microsoft.Chroma(color='#000000');
    content: "";
    position: absolute;
    top: -33px;
    left: 20px;
}
#slider-homepage .carousel-caption h1 {
    margin: 20px 0 10px;
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
}
#slider-homepage .carousel-caption p {
    color: #000;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 1.5px;
}

/*Form Reservation*/
#form-reservation{
    position: relative;
    display: block;
}
#form-reservation .form-horizontal{
    position: relative;
    display: block;
    background: #FFF;
    float: left;
    width: 100%;
}

#form-reservation .form-horizontal > .col-xs-12{
    z-index: 8;
}
/*package-bottom & package-up*/
#package-top{
    position: relative;
    display: block;
    z-index: 9;
}
#package-top .container{
    position: relative;
    display: block;
}
#package-top .pack-wrapper{
    position: absolute;
    display: block;
    padding: 0;
    bottom: 0;
    overflow: hidden;
}
#package-top .pack-wrapper:before{
    position: absolute;
    display: block;
    top: 0;
    width: 100%;
    height: 100%;
    background: #37E48B;
    content: "";
    left: 0;
    transform: rotate(41deg);
    -webkit-transform: rotate(41deg);
    -moz-transform: rotate(41deg);
    -o-transform: rotate(41deg);
    -ms-transform: rotate(41deg);
}
#package-top .big-cover{
    position: relative;
    display: block;
    background: #36E48B;
    overflow: hidden;
    left: 0;
    bottom: 0;
}
#package-top .big-cover .c-caption{
    padding: 20px;
    position: absolute;
    display: block;
    top: 20%;
    left: 20%;
    right: 20%;
    bottom: 20%;
    background: rgba(54, 228, 139, .8);
}
#package-top .small-cover{
    position: absolute;
    display: block;
    background: #36E48B;
    overflow: hidden;
    right: 0;
    bottom: 0;
}
#package-top .small-cover .c-caption{
    padding: 20px;
    position: absolute;
    display: block;
    top: 00%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    background: rgba(54, 228, 139, .8);
}
/*------------------------------------*/
#package-bottom{
    position: relative;
    display: block;
    z-index: 19;
    margin-bottom: 70px;
}
#package-bottom .container{
    position: relative;
    display: block;
}
#package-bottom .pack-wrapper{
    position: absolute;
    display: block;
    padding: 0;
    top: 0;
    overflow: hidden;
}
#package-bottom .pack-wrapper:before{
    position: absolute;
    display: block;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #37E48B;
    content: "";
    left: 0;
    transform: rotate(-140deg);
    -webkit-transform: rotate(-140deg);
    -moz-transform: rotate(-140deg);
    -o-transform: rotate(-140deg);
    -ms-transform: rotate(-140deg);
}
#package-bottom .big-cover{
    position: relative;
    display: block;
    background: #36E48B;
    overflow: hidden;
    left: 0;
    top: 0;
    float:right;
}
#package-bottom .big-cover .c-caption{
    padding: 20px;
    position: absolute;
    display: block;
    top: 20%;
    left: 20%;
    right: 20%;
    bottom: 20%;
    background: rgba(54, 228, 139, .8);
}
#package-bottom .small-cover{
    position: absolute;
    display: block;
    background: #36E48B;
    overflow: hidden;
    left: 0;
    top: 0;
}
#package-bottom .small-cover .c-caption{
    padding: 20px;
    position: absolute;
    display: block;
    top: 00%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    background: rgba(54, 228, 139, .8);
}
.c-caption h1{
    font-size: 2.4em;
    margin-bottom: 15px;
}
.c-caption p{
    font-size: 1.2em;
    font-family: 'LatoRegular', sans-serif;
}
.c-caption a.more{
    color: #000;
    font-size: 1.2em;
    font-family: 'LatoRegular', sans-serif;
}
.c-caption a.more:hover{
    color: #FFF;
}
/*homepage packages*/
#packages{
    position: relative;
    display: block;
}
#packages .lps{
    position: relative;
    display: block;
    background: #36E48B;
    overflow: hidden;
}
#packages .lps .caption-col{
    padding: 50px 30px;
    position: relative;
    display: block;
}
#packages .lps .caption-col:before{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 60px 600px;
    border-color: transparent transparent #2CCB71 transparent;
    line-height: 0px;
    _border-color: #000000 #000000 #2CCB71 #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
    content: "";
    position: absolute;
    top: -60px;
    left: 0;
}
#packages .lps .caption-col.fcol{
    background: #6BFFB3;
}
#packages .lps .caption-col.fcol:before{
    border-color: transparent transparent #6BFFB3 transparent;
}
#packages .lps .caption-col.mcol{
    background: #36E48B;
}
#packages .lps .caption-col.mcol:before{
    border-color: transparent transparent #36E48B transparent;
    border-width: 0 600px 60px 0px;
    left: auto;
    right: 0;
}
#packages .lps .caption-col.lcol{
    background: #2ABC75;
}
#packages .lps .caption-col.lcol:before{
    border-color: transparent transparent #2ABC75 transparent;
}
#packages .lps .caption-col h1{
    font-family: 'DosisMedium', sans-serif;
    margin-bottom: 20px;
    margin-top: 0;
    font-size: 1.7em;
}
#packages .lps .caption-col p{
    font-family: 'LatoRegular', sans-serif;
}
#packages .lps .caption-col a{
    font-family: 'LatoRegular', sans-serif;
    color: #000;
}
/*List Facilities*/

.list-facilites {
    position: relative;
    display: block;
    border-bottom: 1px solid #BFBFBF;
    padding-bottom: 20px;
}
.list-facilites .col-thumb .thumbnail {
    padding: 0;
    box-shadow: none;
}
.list-facilites .col-detail .title-facilities {
    display: block;
    position: relative;
}
.list-facilites .col-detail .title-facilities i {
    display: inline-block;
}
.list-facilites .col-detail .title-facilities h2 {
    font-family : 'LatoBold', sans-serif;
    display: inline-block;
}
.list-facilites .col-detail p {
    font-family: 'LatoRegular', sans-serif;
}
.list-facilites .col-detail .hourtext {
    font-family : 'LatoRegular', sans-serif;
    font-size: 1.4em;
}
.list-facilites .col-detail .hours-detail {
    color: #27BE71;
    font-family: 'LatoRegular', sans-serif;
    font-size: 1.2em;
}

/*Dining*/
.tab-dining{
    position: relative;
    display: block;
}
.tab-dining .tabs-right .nav-tabs{
    margin: 0;
    padding: 0;
    border-left: 1px solid #17DF89;
    background: none;
}
.tab-dining .tabs-right .nav-tabs li a{
    background: none;
    border-radius: none;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    
}
.tab-dining .nav-tabs > li{
    border: none;
}
.tab-dining .tabs-right .nav-tabs li.active a{
    color: #17DF89;
}
.tab-dining .tabs-right .nav-tabs li.active:before{
    position: absolute;
    display: block;
    content: "";
    left: -10px;
    top: 35%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 10.4px 6px 0;
    border-color: transparent #17DF89 transparent transparent;
    line-height: 0px;
    _border-color: #000000 #17DF89 #000000 #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}
/*Coloumn Rooms*/

.col-rooms {
    position: relative;
    display: block;
}
.col-rooms .left-col {
    position: relative;
    display: block;
}
.col-rooms .left-col p {
    font-size: 1.2em;
    font-weight: normal;
    letter-spacing: normal;
    color: #71706E;
}
.col-rooms .left-col ul {
    list-style: none;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    font-size: 1.2em;
}
.col-rooms .left-col ul li {
    font-weight: normal;
    position: relative;
    display: block;
    padding-left: 20px;
    margin-left: 0px;
    color: #71706e;
    font-size: .9em;
    font-family: 'DosisBook';
    letter-spacing: 1px;
}
.col-rooms .left-col ul li:before {
    font-family: "fontello";
    position: absolute;
    content: '\e812';
    /* '' */
    
    display: block;
    left: 0;
    top: 0;
    font-weight: normal;
    color: #27BE71;
}
.col-rooms .right-col .list.list-room {
    background: url('../img/separator-col.png') repeat-x bottom left #fff;
    padding: 10px 0 20px;
}
.col-rooms .right-col .col-thumb .thumbnail {
    padding: 0;
    box-shadow: none;
}
.col-rooms .right-col .col-description h1 {
    font-size: 1.4em;
    letter-spacing: normal;
    color: #71706E;
    margin-bottom: 20px;
    font-weight: 400;
}
.col-rooms .right-col .col-description p {
    font-size: 1.1em;
    display: block;
    font-weight: normal;
    position: relative;
    color: #979797;
}
.col-rooms .right-col .specification {
    position: relative;
    display: block;
}
.col-rooms .right-col .specification table.table {
    color: #9A9A9A;
}
.col-rooms .right-col .book-bar {
    display: block;
    position: relative;
    font-family: 'LatoRegular', sans-serif;
}
.col-rooms .right-col .book-bar h3 {
    font-size: 1.3em;
    color: #7B7B7B;
    font-weight: 400;
    margin: 10px 0;
}
.col-rooms .right-col .book-bar .booknow span {
    color: #27BE71;
    font-size: 1.4em;
}
.col-rooms .right-col .book-bar .btn-book {
    float: right;
}
.specification table.table tr td {
    border: none;
    padding: 8px 0;
    color: #9A9A9A;
}
.specification table.table tr td:first-child {
    font-size: 1.1em;
    color: #979797;
    font-weight: 700;
}
.list-room {
    position: relative;
    display: block;
}
.list-room .col-detail {
    position: relative;
    display: block;
}
.list-room .col-detail h2 {
    font-size: 1.3em;
    letter-spacing: normal;
    color: #71706E;
    font-family: 'LatoRegular', sans-serif;
    font-weight: 500;
}
.list-room .col-detail p {
    font-size: 1.1em;
    font-weight: 300;
    font-family: 'DosisBook', sans-serif;
    font-weight: 400;
    letter-spacing: normal;
    color: #71706E;
    letter-spacing: 1px;
}
.list-room .col-detail p.actionbtn {
    color: #707070;
    font-size: 1.1em;
}
.list-room .col-detail .rates {
    font-size: 1.1em;
    font-family: 'LatoRegular';
}
.list-room .col-detail p a{
    color: #707070;
}
.list-room .col-detail p a:hover{
    color: #27BE71;
}
/*List Rooms*/

.room-block {
    position: relative;
    display: block;
    margin-bottom: 10px;
}
.room-block .block-wrapper {
    position: relative;
    display: block;
    border-bottom: thin solid #7E7E7E;
    float: left;
    margin-right: 50px;
}
.room-block .price {
    display: block;
    position: relative;
    padding: 0;
}
.room-block .price .text-price, .room-block .price .txt-p {
    font-size: 1.3em;
    font-weight: 500;
    color: #000;
}
.right-content {
    position: relative;
}
.room-block .right-content h2 {
    font-size: 2em;
    color: #000;
    font-weight: 500;
}
.room-block .right-content p {
    color: #000;
    font-size: 1.2em;
    font-weight: 500;
}
.right-content .more-info {
    font-size: 1.2em;
    margin-top: 10px;
}
.right-content .more-info a.btn {
    color: #fff;
    font-size: 1.1em;
}
.rooms-top {
    display: block;
    position: relative;
    color: #FFF;
}
.rooms-top p span.date {
    font-weight: 700;
}
.rooms-top p a {
    text-decoration: underline;
    color: #FFF;
}
.rooms-top p a:hover {
    color: #000;
}

.content-overview {
    position: relative;
    display: block;
    float: left;
    margin: 20px 0 50px;
    color: #000;
}
.content-overview h2, .content-overview h1 {
    font-size: 2.1em;
    color: #000;
    font-weight: 500;
}
.content-overview p {
    font-weight: 500;
    font-size: 1.2em;
    color: #000;
}
/*List Features*/

.list {
    padding: 0;
}
ul.list-features {
    padding-left: 0;
}
ul.list-features li:before {
    content: "\e067";
    position: relative;
    display: inline-block;
    margin-right: 10px;
    font-family: 'Glyphicons Halflings';
    color: #2BB665;
}
ul.list-features li {
    font-size: 1.2em;
    color: #000;
    font-weight: 500;
}
/*Carousel*/

.carousel-nav .carousel-next {
    position: absolute;
    z-index: 200;
    right: 10px;
    top: -40px;
    background-color: #29B666;
    text-align: center;
    color: #FFF;
    vertical-align: middle;
    padding: 0 7px;
    font-size: 1.7em;
    font-family: 'DosisBook', sans-serif;
    text-transform: uppercase;
    border-radius: 5px;
    line-height: 1.3em;
}
.carousel-nav .carousel-prev {
    padding: 0 7px;
    position: absolute;
    z-index: 200;
    right: 35px;
    top: -40px;
    background-color: #29B666;
    text-align: center;
    color: #FFF;
    font-size: 1.7em;
    font-family: 'DosisBook', sans-serif;
    text-transform: uppercase;
    border-radius: 5px;
    line-height: 1.3em;
}
.wrap-single-carousel .carousel-nav .carousel-prev {
    top: auto;
    bottom: -15px;
    right: 52.5%;
}
.wrap-single-carousel .carousel-nav .carousel-next {
    top: auto;
    bottom: -15px;
    right: 49.5%;
}
/*List Quotes*/

.list-quote {
    /*position: relative;*/
    
    display: block;
}
.list-quote:before {
    position: absolute;
    display: block;
    left: 0;
    top: -40px;
    content: '\201C';
    font-size: 120px;
    font-family: sans-serif;
    color: #000;
}
.list-quote:after {
    position: absolute;
    display: block;
    right: 0;
    bottom: -40px;
    content: '\201D';
    font-size: 120px;
    font-family: sans-serif;
    color: #000;
}
.list-quote .thumber {
    position: relative;
    display: block;
    text-align: center;
}
.list-quote .thumber .rhomb-img {
    box-sizing: content-box;
    width: 60px;
    height: 60px;
    margin: 3px 0 0 30px;
    border: none;
    font: normal 100%/normal Arial, Helvetica, sans-serif;
    color: #fff;
    text-indent: 10px;
    -o-text-overflow: clip;
    text-overflow: clip;
    word-spacing: 11px;
    background: rgba(86, 214, 140, .8);
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
    -webkit-transform-origin: 0 100% 0deg;
    overflow: hidden;
    display: inline-block;
    transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
}
.list-quote .thumber .rhomb-img img {
    text-align: center;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    vertical-align: middle;
    margin-left: -43px;
    margin-top: -16px;
    transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
}
.list-quote .post-review {
    position: relative;
    display: block;
}
.list-quote .post-review p {
    color: #000;
    font-size: 1.2em;
    font-weight: 500;
}
.list-quote .post-review h2 {
    color: #000;
    font-weight: 500;
    font-size: 2em;
    font-family: 'Open Sans', sans-serif;
}
.list-quote .post-review h3 {
    color: #000;
    font-weight: 500;
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
}
/*Contact*/

.form-horizontal .form-group {
    margin: 5px 0;
}
.form-control {
    font-family: 'LatoRegular', sans-serif;
    font-size: 1.1em;
    color: #A6A6A6;
    letter-spacing: normal;
    height: 30px;
}
/*Tables*/

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: none;
    border-bottom: 1px solid #C3C3C3;
}
table.table tr td {
    color: #000;
    font-size: 1.1em;
    font-weight: 500;
    font-family: 'LatoRegular', sans-serif;
}
table.rt-responsive-table th {
    background: none;
    color: #000;
}
table.rt-responsive-table tr {
    background: none !important;
}
table.rt-responsive-table td, table.rt-responsive-table th {
    border-color: transparent;
}
/*Maps*/

.maps-content {
    min-height: 300px;
    background: #E5E3DF;
}
.additional {
    color: #000;
    position: relative;
    display: block;
}
.additional h2 {
    color: #000;
    font-weight: 500;
}

.additional p {
    color: #000;
    font-weight: 500;
    font-size: 1.2em;
}
.text-gallery {
    position: relative;
    display: inline;
}
.text-gallery p {
    font-size: 1.1em;
}
.block-tiles{
    position: relative;
    display: block;
}
.tile{
    margin-bottom: 10px;
}
.tile a{
    border: solid thick #000;
    display: block;
    position: relative;
    border-color: transparent;
}
.caption-grn {
    background: none repeat scroll 0 0 #2bb665;
    color: #fff;
    left: 98%;
    padding: 10px;
    position: absolute;
    top: 0;
    z-index: 10;
    display: none;
}
.block-tiles .tile:nth-child(odd) .caption-grn{
    left: 98%;
    right: auto;
}
.block-tiles .tile:nth-child(even) .caption-grn{
    left: auto;
    right: 98% !important;
}
.caption-wrapper{
    display: block;
    position: relative;
}
.caption-wrapper:before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 15px 10px 0;
    border-color: transparent #2BB665 transparent transparent;
    line-height: 0px;
    _border-color: #000000 #2BB665 #000000 #000000;
    _filter: progid: DXImageTransform.Microsoft.Chroma(color='#000000');
    position: absolute;
    display: block;
    top: 0;
    left: -25px;
    content: "";
}
.block-tiles .tile:nth-child(even) .caption-grn .caption-wrapper:before{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent #2BB665;
    line-height: 0px;
    _border-color: #000000 #000000 #000000 #2BB665;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
    position: absolute;
    display: block;
    top: 0;
    left: auto;
    right: -25px;
    content: "";
}
.block-tiles .tile:nth-child(odd) .caption-grn .caption-wrapper:before{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 15px 10px 0;
    border-color: transparent #2BB665 transparent transparent;
    line-height: 0px;
    _border-color: #000000 #2BB665 #000000 #000000;
    _filter: progid: DXImageTransform.Microsoft.Chroma(color='#000000');
    position: absolute;
    display: block;
    top: 0;
    left: -25px;
    content: "";
}
.caption-grn h3 {
    color: #FFF;
    font-weight: 500;
    font-size: 2em;
}
.caption-grn p {
    color: #FFF;
    font-weight: 500;
    font-size: 1.2em;
}
/*Gallery */

.ekko-lightbox {
    background-color: rgba(0, 0, 0, 0.9);
    font-family : 'LatoRegular', sans-serif;
}
.ekko-lightbox .modal-title {
    font-family : 'LatoRegular', sans-serif;
}
.ekko-lightbox-nav-overlay a{
    font-size: 8em;
}
.ekko-lightbox-nav-overlay a:first-child{
    float: left;
    left: 0;
    padding-left: 15px;
    text-align: left;    
}
.ekko-lightbox-nav-overlay a:last-child{
    float: right;
    padding-right: 15px;
    right: 0;
    text-align: right;   
}

/*- FILTER OPTIONS -*/

ul#filterOptions li {
    display: inline-block;
    position: relative;
}
ul#filterOptions li a {
    padding: 0 10px;
    border: none;
    background: transparent;
    color: #fff;
    line-height: normal;
    display: block;
    font-family: 'LatoRegular', sans-serif;
    margin: 10px 0;
    border-right: 1px solid #fff;
}
ul#filterOptions li a:hover {
    background: transparent;
    color: #FFF;
}
ul#filterOptions li.active a {
    background: transparent;
    color: #42433E;
}
ul#filterOptions li.active a:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 8px 0 8px;
    border-color: #27BE71 transparent transparent transparent;
    line-height: 0px;
    _border-color: #27BE71 #000000 #000000 #000000;
    _filter: progid: DXImageTransform.Microsoft.Chroma(color='#000000');
    position: absolute;
    bottom: -15px;
    left: 35%;
}
/*- -*/
/*- OUR DATA HOLDER -*/

ul.ourHolder {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
ul.ourHolder li.item {
    float: left;
    text-align: center;
    overflow: hidden;
    margin-bottom: 15px;
}
/*Gallery Page*/

#gallery {
    position: relative;
    display: block;
    margin-top: 40px;
}
#gallery .grid-gallery {
    position: relative;
    display: block;
}
.grid-gallery #filterOptions {
    margin-bottom: 0;
    text-align: center;
}

/*Footer*/

#footer {
    position: relative;
    display: block;
    bottom: 0px;
    z-index: 10;
    width: 100%;
}
#footer:after{
    background: rgba(164, 168, 118, 1);
    position: absolute;
    right: -190px;
    width: 120%;
    top: 0;
    height: 700px;
    z-index: -1;
    content: "";
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
}
#footer:before{
    background: rgb(191, 196, 130);
    position: absolute;
    left: -190px;
    width: 120%;
    top: 0;
    height: 700px;
    z-index: -1;
    content: "";
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
    
}
#footer #footer-top {
    color: #000;
}
#footer #footer-bottom{
    background: none;
}
footer .footer-content {
    font-size: .9em;
    color: #000;
    width: 100%;
}
#footer .navbar-footer .copyright{
    float: right;
}
#footer .navbar-footer .copyright p{
    color: #000;
    border-left: 1px solid #000;
    line-height: 1em;
    margin-left: 10px;
}
#footer .col-footer-content {
    margin: 45px 0;
}
#footer-bottom .navbar {
    background: transparent;
    margin: 0;
}
#footer-bottom .navbar-footer .nav > li {
    margin: 30px 0;
}
#footer-bottom .navbar-footer .nav > li > a {
    color: #000;
    line-height: 13px;
    padding-bottom: 0;
    padding-top: 0;
    font-size: 1.2em;
    letter-spacing: normal;
}
#footer-bottom .navbar-footer .nav > li > a:hover {
    color: #fff !important;
}
#footer-bottom .navbar-footer .social-icon > li > a {
    border: none;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0 10px;
}
#footer-bottom .navbar-footer .nav > li.copyright{
    display: inline-block;
}
#footer-bottom .navbar-footer .nav > li.copyright span{
    margin: 10px;
    padding-left: 10px;
    border-left: 1px solid #000;
    line-height: 13px;
    font-size: 1.2em;
    float: left;
}
#footer .navbar > .navbar-footer .navbar-nav {
    float: left;
}
#footer .navbar > .navbar-footer .navbar-nav > li:first-child > a {
    padding-left: 0;
}
#footer-bottom .navbar-footer .social-icon > li{
    margin: 30px 0;
}
#footer-bottom .navbar-footer .social-icon > li > a {
    font-size: 1.9em;
}

/*Wrap Col*/

.wrap-col {
    position: relative;
    display: inline-block;
}
.wrap-col .logo-m{
    position: relative;
    display: block;
}
.wrap-col h3 {
    color: #000000;
    font-family : 'TitilliumRegular', sans-serif;
    font-size: 1.4em;
    text-transform: uppercase;
    width: auto;
    float: left;
}
.wrap-col .logo-m h1{
    font-family: 'DosisBold', sans-serif;
    text-transform: uppercase;
    font-size: 2.9em;
    width: auto;
    float: left;
}
.wrap-col .logo-m  h3 {
    color: #000000;
    font-family : 'TitilliumRegular', sans-serif;
    font-size: 1.4em;
    text-transform: uppercase;
    width: auto;
    float: left;
    margin: 0;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    padding: 5px 0;
}
.wrap-col .logo-m h2{
    float: left;
    text-shadow: none;
    font-size: 2.03em;
}

/*Local Info*/
.infoLocal{
    display: inline-block;
}
.local-info-col p, .address-col p{
    font-family: 'LatoRegular', sans-serif;
    display: inline-block;
    margin: 5px 0;
}
.address-col p{
    font-size: 1.1em;
}
.highlight .weather, .highlight .localtime{
    width: 100%;
    display: block;
}
.highlight .weather i, .highlight .local-time i{
    font-size:3em;
    vertical-align: middle;
}
.highlight .weather, .highlight .local-time{
    font-size: 1.3em;
}
/*Group Icon*/
.input-group .form-control{
    border-right: none;
}
.input-group-addon {
    background: #fff;
    border-left: none;
}
.input-group-addon i {
    color: #C3C3C4;
}
/*select style*/

.select2-drop-active {
    border: 1px solid #BFBFBF;
}
.select2-results .select2-highlighted {
    background: none;
    color: #27BE71;
}
.select-custom {
    position: relative;
    display: block;
    width: 100%;
}
.select2-container {
    padding: 0;
    margin: 0;
}
.select2-drop {
    color: #bdbdbd;
}
.select2-container .select2-choice {
    border: none;
    background-image: none;
    height: 28px;
    line-height: 30px;
    text-align: left;
}
.select2-container .select2-choice .select2-arrow {
    border-radius: 0;
    background: rgb(219, 220, 226);
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RiZGNlMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ4JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk4JSIgc3RvcC1jb2xvcj0iI2RkZGZlMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    /* FF3.6+ */
    /* Chrome,Safari4+ */
    /* Chrome10+,Safari5.1+ */
    /* Opera 11.10+ */
    /* IE10+ */
    
    background: linear-gradient(to bottom, rgba(219, 220, 226, 1) 0%, rgba(255, 255, 255, 1) 48%, rgba(221, 223, 227, 1) 98%);
    /* W3C */
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#dbdce2', endColorstr='#dddfe3', GradientType=0);
    /* IE6-8 */
    
    border: none;
    width: 30px;
    border-left: solid thin #BFBFBF;
}
.select2-container .select2-choice .select2-arrow b {
    position: relative;
    display: block;
    background: none;
}
.select2-container .select2-choice > .select2-chosen {
    color: #AEAEAE;
}
.select2-container .select2-choice .select2-arrow b:before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #8F8F8F transparent transparent transparent;
    line-height: 0px;
    _border-color: #8F8F8F #ffffff #ffffff #ffffff;
    _filter: progid: DXImageTransform.Microsoft.Chroma(color='#8F8F8F');
    content: "";
    position: absolute;
    top: 13px;
    left: 9px;
}
.select2-drop.select2-drop-above.select2-drop-active {
    border-color: #bdbdbd;
}
/*UI WIDGET*/

.ui-widget {
    font-family : 'LatoRegular', sans-serif;
    font-size: 1.1em;
}
/* Datepicker */

#ui-datepicker-div {
    z-index: 1100 !important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: #fff;
    color: #000;
    background-image: none;
    text-align: center;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border-color: #37E48B;
}
.ui-datepicker-header, .ui-widget-header {
    background-color: #37E48B;
    border: none;
    background-image: none;
    color: #000;
}
#ui-datepicker-div .ui-datepicker-month, #ui-datepicker-div .ui-datepicker-year {
    font-family : 'LatoRegular', sans-serif;
    text-transform: uppercase;
    font-weight: normal;
}
.ui-datepicker-title select {
    color: #000;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    background: #FFF;
    border: none;
    border-radius: 500px;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    height: 1em;
    position: absolute;
    top: 8px;
    width: 1em;
}
.ui-datepicker .ui-datepicker-prev {
    left: 8px;
}
.ui-datepicker .ui-datepicker-next {
    right: 8px;
}
.ui-icon-circle-triangle-e {
    background-position: -32px -16px;
}
.ui-icon-circle-triangle-w {
    background-position: -97px -16px;
}
.ui-datepicker th {
    font-weight: normal;
    padding-right: 0;
    padding-left: 0;
}
.ui-datepicker.ui-datepicker-multi, .ui-datepicker.ui-datepicker-multi-3 {
    width: 100% !important;
}
#open_datepicker .ui-datepicker td span, #open_datepicker .ui-datepicker td a {
    padding: 10px;
    
}
#ui-datepicker-div table.ui-datepicker-calendar thead tr th span {
    text-transform: uppercase;
    font-family : 'LatoRegular', sans-serif;
    border-bottom: thin solid #42433E;
    width: 100%;
    float: left;
}
/*highlighter calendar selected*/

.ui-datepicker-calendar tbody tr td a:hover, #open_datepicker .ui-datepicker-calendar .dp-highlight .ui-state-default {
    background: #42433E;
    color: #fff;
}
.ui-datepicker td.available a, .available {
    background: #5DC02F;
    color: #fff;
}
.ui-datepicker td.restricted a, .restricted {
    background: #EBCD17;
    color: #fff;
}
.ui-datepicker td.booked a, .booked {
    background: #F17776;
    color: #fff
}
/*UI TOOLTIP*/

.ui-tooltip {
    padding: 8px;
    position: absolute;
    z-index: 9999;
    min-width: 300px;
    box-shadow: none;
    border-color: #878787;
    max-width: none;
}
.qtip .ui-widget-content p {
    color: #000;
    font-family : 'LatoRegular', sans-serif;
    font-size: 1em;
    line-height: 1em;
}
.qtip .ui-widget-content .table, .qtip .ui-widget-content .table thead tr th, .qtip .ui-widget-content .table tbody tr td {
    color: #000;
    font-family : 'LatoRegular', sans-serif;
    font-size: 1em;
    line-height: 1em;
}
/*Modal & Panel*/

.modal-dialog p, .step-pane p {
    color: #000;
    font-family : 'LatoRegular', sans-serif;
}
/*Form */

.content-static {
    position: relative;
    display: block;
    margin: 120px auto 40px;
}
.content-static h1, .content-static h2, .content-static h3, .content-static h4, .content-static h5{
    font-family : 'LatoRegular', sans-serif;
    letter-spacing: normal;
    font-weight: 400;
}
.content-static p, .content-static .row li {
    font-family: 'LatoRegular';
}
.content-static .form-control {
    border: 1px solid #B2B0B3;
}
.content-static input[type='text'], .content-static .select2-container {
    border: 1px solid #B2B0B3;
    height: inherit;
}
.content-static textarea {
    border: 1px solid #B2B0B3;
    resize: none;
}
.content-static input.form-control[readonly]{
    background: #FFF;
    border-right: none;
}
.content-static .input-group-addon{
    border-left: none;
}
.mto_ft {
    margin-bottom: 50px;
}
.bg-diff {
    background-color: #27BE71;
}
.t-maroon {
    color: #27BE71;
}
.t-white{
    color: #FFF;
}
.btn-maroon {
    background-color: #27BE71;
    border-color: #27BE71;
    color: #fff;
}
.btn-maroon-light {
    background-color: #42433E;
    border-color: #42433E;
}
.content-static {
    position: relative;
    display: block;
    background: #fff;
    padding: 0;
}
/*List*/

.list {
    position: relative;
    display: block;
    float: left;
}
/*Logo Credit Cards*/

ul.listcc {
    position: relative;
    display: block;
}
ul.listcc li {
    display: inline-block;
}
/*Booking Form*/

.datepicker-key {
    color: #000;
    font-size: 1em;
    margin: 30px 0 0 0;
}
.key-unavailable-icon {
    width: 10px;
    height: 10px;
    float: left;
}
.key-unavailable-text, .key-available-text, .key-selected-text, .key-noarrival-text {
    float: left;
    margin: 0 15px 0 5px;
    font-family : 'LatoRegular', sans-serif;
}
.key-unavailable-icon, .key-available-icon, .key-selected-icon, .key-noarrival-icon {
    width: 15px;
    height: 15px;
    float: left;
    margin: 2px 0 0 0;
}
.key-unavailable-wrapper, .key-available-wrapper, .key-selected-wrapper, .key-noarrival-wrapper {
    float: left;
}
/* Grey Background Elements */

.key-available-icon {
    background: #42433E;
}
.key-unavailable-icon {
    background: #e6e6e6;
}
.key-selected-icon {
    background: #262427;
}
.key-noarrival-icon {
    background: #ADABAE;
}
.booking-side .select-wrapper {
    width: 276px;
}
.booking-side .one-third-form .select-wrapper {
    width: 100%;
}
.booking-side .one-third-form .select-wrapper select {
    width: 135%;
    background-position: 62% center;
}
.dark-notice {
    color: #fff !important;
    padding: 10px 15px;
    margin: 0 0 30px 0;
    text-align: center;
    background: #42433E;
    border-radius: 5px;
}
.dark-notice p {
    margin: 0;
    color: #fff !important;
}
.calendar-notice {
    display: none;
}
/*Confirmation*/

.creatAccount {
    display: block;
    position: relative;
}
.creatAccount .absolute-frm {
    position: absolute;
    width: 100%;
    display: none;
    top: 0;
    background: #FFFEFF;
    border: solid thin #B2B0B3;
    z-index: 9;
    padding: 5px 0;
    border-radius: 10px;
    left: -10px
}
/*Reservation*/

#uxwizard {
    position: relative;
    display: block;
}
#uxwizard .col-heading {
    position: relative;
    display: block;
    margin: 0;
}
#uxwizard .col-heading h1 {
    font-family : 'LatoRegular', sans-serif;
    margin: 0;
}
#uxwizard .wizard {
    border-radius: 0px;
    box-shadow: none;
    background: none;
    border-color: #FFF;
}
#uxwizard .wizard .step-content {
    border: none;
}
.step-content .col-left .col-block {
    display: block;
    position: relative;
    letter-spacing: normal;
}
.step-content .col-left .col-block a[data-toggle="collapse"] {
    color: #FFF;
    font-family : 'LatoRegular', sans-serif;
    display: block;
    margin-bottom: 10px;
    float: left;
    width: 100%;
}
.step-content .col-left .col-block h3 {
    color: #FFF;
    font-family : 'LatoRegular', sans-serif;
    margin-bottom: 10px;
}
.step-content .col-left .col-block ul.list {
    padding: 0 20px;
    font-family : 'LatoRegular', sans-serif;
    letter-spacing: normal;
}
.step-content .col-left .col-block ul.list li {
    color: #FFF;
}
.step-content .col-left .col-block ul.list li a {
    color: #FFF;
    font-family : 'LatoRegular', sans-serif;
    letter-spacing: normal;
}
.step-content .col-left .col-block ul.list li .radio {
    margin-bottom: 5px;
}
.step-content .col-left .col-block .gpbx {
    display: block;
    position: relative;
    margin-bottom: 10px;
}
.step-content .col-left .col-block .gpbx h3 {
    margin: 0;
}
.step-content .col-left .col-block .bx-info {
    color: #FFF;
    font-family : 'LatoRegular', sans-serif;
}
.step-content .col-left .col-block .bx-info a {
    color: #fff;
}
.step-content .col-left .col-block .total-rateCL {
    font-family : 'LatoRegular', sans-serif;
    position: relative;
    border-top: 1px solid #fff;
}
.total-rateCL .price-txttotal {
    position: relative;
    display: block;
}
.total-rateCL .price-txttotal h5 {
    font-family : 'LatoRegular', sans-serif;
    color: #FFF;
    font-weight: 600;
    font-weight: 1.3em;
}
.total-rateCL .price-txttotal .info-ext {
    display: block;
    width: 100%;
}
.total-rateCL .price-txttotal .more-detail {
    position: relative;
    width: 100%;
    display: block;
}
.price-txttotal .more-detail a {
    color: #FFF;
}
.total-rateCL .price-total {
    position: absolute;
    right: 0;
}
.total-rateCL .price-total .price {
    font-size: 1.3em;
}
.step-content .col-right .action a.modify {
    text-align: right;
    color: #7A0027;
    font-family : 'LatoRegular', sans-serif;
    text-decoration: underline;
    float: right;
}
.step-content .col-right .headingBBx {
    background: #232323;
    color: #fff;
    font-family : 'LatoRegular', sans-serif;
    margin-bottom: 10px;
    border-radius: 5px;
}
.step-content .col-right .headingBBx h2 {
    color: #FFF;
    padding: 5px;
    margin: 0;
    font-family : 'LatoRegular', sans-serif;
    font-size: 1.2em;
}
.step-content .headingLt {
    background: #232323;
    color: #fff;
    font-family : 'LatoRegular', sans-serif;
    margin-bottom: 10px;
    border-radius: 5px;
}
.group-inline .half-inline:first-child .headingBBx {
    border-radius: 5px 0px 0px 5px;
}
.group-inline .half-inline:last-child .headingBBx {
    border-radius: 0px 5px 5px 0px;
}
.step-content .headingLt h2 {
    color: #FFF;
    padding: 5px;
    margin: 0;
    font-family : 'LatoRegular', sans-serif;
    font-size: 1.2em;
}
.col-right .productlist {
    position: relative;
    display: block;
}
.col-right .productlist .HeaderInfo {
    font-family : 'LatoRegular', sans-serif;
}
.HeaderDesc .room-descLt {
    color: #000;
}
.HeaderInfo .Policies {
    margin-bottom: 10px;
}
.HeaderInfo .Policies a {
    color: #000;
}
.list-roomDTL {
    position: relative;
    display: block;
    font-family : 'LatoRegular', sans-serif;
}
.list-roomDTL ul.list {
    width: 100%;
}
.list-roomDTL ul.list .listed-room {
    width: 100%;
    display: block;
    position: relative;
    float: left;
    border-bottom: 1px solid #979797;
    padding: 20px 0;
}
.listed-room .roomlistDescLt {
    position: relative;
    display: block;
    font-family : 'LatoRegular', sans-serif;
    color: #000;
}
.roomlistDescLt .roomname {
    color: #000;
}
.roomlistDescLt .roomname h4 {
    font-size: 1em;
    color: #000;
    margin: 0;
    margin-bottom: 10px;
}
.roomlistDescLt .facilitiesLT {
    display: block;
    float: left;
    width: 100%;
}
.roomlistDescLt .facilitiesLT a.roomdescDTL {
    display: block;
    position: relative;
    color: #434a54;
    float: left;
}
.facilitiesLT .priceListRoom {
    float: left;
    width: 100%;
    display: block;
    position: relative;
}
.facilitiesLT .priceListRoom .price {
    float: left;
    width: 100%;
    font-size: 1.2em;
    font-weight: 400;
}
.facilitiesLT .priceListRoom .taxLT {
    float: left;
    width: 100%;
}
.facilitiesLT .priceListRoom .more-detail {
    float: left;
    width: auto;
    color: #434a54;
}
.roomlistDescLt .btn-abs {
    position: relative;
    display: block;
    text-align: right;
    float: right;
}
.roomlistDescLt .btn-abs a {
    color: #FFF;
}
.list-roomDTL ul.list .thumbroom {
    padding: 0;
}
.productlist .TxtTitle {
    font-size: 0.9em;
    font-family : 'LatoRegular', sans-serif;
}
.productlist .HeaderInfoContainer {
    border-bottom: 1px solid #979797;
    float: left;
    padding-bottom: 20px;
    width: 100%;
}
.step-content .col-left .book-desc {
    position: relative;
    display: block;
}
.step-content .col-left .book-desc span.text {
    float: left;
    line-height: 1.3em;
}
.step-content .price-range {
    display: block;
    position: relative;
    font-family : 'LatoRegular', sans-serif;
    margin-bottom: 10px;
}
.step-content .price-range .range-slider {
    position: relative;
    display: block;
    margin-bottom: 10px;
}
#slider-range .ui-slider-range {
    background: #42433E !important;
}
.step-content .price-range .range-slider input#amount {
    background: transparent;
    border: none !important;
    width: 100%;
    text-align: center;
}
.step-content .col-left .book-desc a.btn {
    float: right;
}
.arrival-departure {
    position: relative;
    display: block;
    margin-bottom: 10px;
}
.arrival-departure .arrival-wrapper, .arrival-departure .departure-wrapper {
    border-radius: 5px;
    border: 1px solid #fff;
    background: transparent;
    font-family : 'LatoRegular', sans-serif;
}
.arrival-departure .top-cal {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #fff;
}
.arrival-departure .top-cal .prev-in {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
}
.arrival-departure .top-cal .next-in {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
}
.arrival-departure .top-cal .prev-in {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
}
.arrival-departure .mid-cal {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
}
.arrival-departure .mid-cal .day {
    font-size: 4em;
    text-align: center;
}
/*Package List*/

.packageList {
    position: relative;
    display: inline-block;
    font-family : 'LatoRegular', sans-serif;
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.packageList .titlePckg {
    float: left;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #878787;
}
.packageList .titlePckg .price-tag {
    font-family : 'LatoRegular', sans-serif;
}
.packageList .collapse {
    padding: 0;
}
.packageList p.pckgtext {
    color: #000;
    font-family : 'LatoRegular', sans-serif;
}
.packageList .list-chckbox {
    padding-left: 15px;
}
.packageList .titlePckg .price-tag .price {
    color: #000;
    font-size: 1.3em;
    font-weight: 600;
}
.packageList .titlePckg a[data-toggle="collapse"] {
    font-weight: 600;
    color: #000;
}
/*Checkout */

.checkout-process {
    position: relative;
    display: block;
}
.checkout-process .col-right {
    font-family : 'LatoRegular', sans-serif;
    letter-spacing: normal;
}
.checkout-process .confirm-bx p {
    font-family : 'LatoRegular', sans-serif;
}
#uxwizard .wizard > .steps li:first-child {
    border-radius: 0;
    padding-left: 20px;
}
#uxwizard .currency-selector {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
}
#uxwizard .wizard > .steps {
    width: auto;
    position: relative;
    display: block;
    float: left;
    margin: 0 !important;
}
#uxwizard .wizard > .steps li {
    background: none;
    font-family: 'LatoRegular', sans-serif;
    font-size: 1em;
    padding: 0;
    color: #000;
}
#uxwizard .wizard > .steps li.active {
    color: #27BE71;
}
#uxwizard .wizard > .steps li span {
    color: #000;
}
#uxwizard .wizard > .actions {
    position: relative;
    display: block;
}
#uxwizard .bg-diff {
    color: #FFF;
}
/*Progress Bar */

.progress-holder {
    float: left;
    width: 100%;
    position: relative;
    display: block;
}
.progress {
    position: relative;
}
.progress.progress-mini {
    height: 9px;
}
.progress .progress-bar-maroon {
    background: #42433E;
}
/*Box Styling */

.box-rd {
    border-radius: 5px;
}
.t-gray {
    color: #434a54;
}
/*--------------------------------------------------------
MEDIA QUERIES
--------------------------------------------------------*/
/* Larger Screens Devices
-------------------------------------------------- */
/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {} @media (min-width: 980px) {} @media (min-width: 768px) {}
/* Medium Devices
-------------------------------------------------- */

@media (min-width: 992px) and (max-width: 1199px) {} @media (max-width: 979px) {}
/* Small Devices (tablets)
-------------------------------------------------- */
/* Portrait tablet to landscape and desktop */

@media (min-width: 768px) and (max-width: 979px) {
    /*slider*/
    
    .flexslider .caption h1 {
        font-size: 2em;
    }
    /*Form Horizontal*/
    
    .form-horizontal .form-group {
        margin-bottom: 10px;
    }
}
/* Extra small devices(phones)
-------------------------------------------------- */

@media (max-width: 767px) {} @media (max-width: 640px) {} @media (max-width: 480px) and (orientation: landscape) {} @media only screen and (min-width: 360px) and (max-width: 640px) {}
/* Landscape phones and smaller */

@media (max-width: 480px) {}
/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {}
/* fix for small android devices */

@media (max-width: 240px) {}
/* Smallest browser width fix
-------------------------------------------------- */

@media (min-width: 0px) and (max-width: 351px) {}@media (min-width: 0px) and (max-width: 300px) {
    body {
        min-width: 280px;
    }
}
/* High Resolution Devices 
-------------------------------------------------- */

@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
    /* Logo */
}
.btn-grn {
    background: #2BB665;
    color: #fff;
    font-family:'LatoRegular', sans-serif;
    border: none;
    padding: 6px 25px;
}
.bg-grn {
    background: #2BB665;
    color: #fff;
    font-family:'LatoRegular', sans-serif;
    border: none;
}
/*>  HELPER  <*/
.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
    width: 100%;
}
.m_t_0 {
    margin-top:0
}
.m_r_0 {
    margin-right:0
}
.m_b_0 {
    margin-bottom:0
}
.m_l_0 {
    margin-left:0
}
.m_t_5 {
    margin-top:5px
}
.m_r_5 {
    margin-right:5px
}
.m_b_5 {
    margin-bottom:5px
}
.m_l_5 {
    margin-left: 5px
}
.m_t_10 {
    margin-top: 10px
}
.m_r_10 {
    margin-right: 10px
}
.m_b_10 {
    margin-bottom: 10px
}
.m_l_10 {
    margin-left: 10px
}
.m_t_15 {
    margin-top: 15px
}
.m_r_15 {
    margin-right: 15px
}
.m_b_15 {
    margin-bottom: 15px
}
.m_l_15 {
    margin-left: 15px
}
.m_t_20 {
    margin-top: 20px
}
.m_r_20 {
    margin-right: 20px
}
.m_b_20 {
    margin-bottom: 20px
}
.m_l_20 {
    margin-left: 20px
}
.p_t_5 {
    padding-top: 5px
}
.p_r_5 {
    padding-right: 5px
}
.p_b_5 {
    padding-bottom: 5px
}
.p_l_5 {
    padding-left: 5px
}
.p_t_10 {
    padding-top: 10px
}
.p_r_10 {
    padding-right: 10px
}
.p_b_10 {
    padding-bottom: 10px
}
.p_l_10 {
    padding-left: 10px
}
.p_t_15 {
    padding-top: 15px
}
.p_r_15 {
    padding-right: 15px
}
.p_b_15 {
    padding-bottom: 15px
}
.p_l_15 {
    padding-left: 15px
}
.p_t_20 {
    padding-top: 20px
}
.p_r_20 {
    padding-right: 20px
}
.p_b_20 {
    padding-bottom: 20px
}
.p_l_20 {
    padding-left: 20px
}
.p_rl_5 {
    padding-right: 5px;
    padding-left: 5px
}
.p_rl_10 {
    padding-right: 10px;
    padding-left: 10px
}
.p_rl_15 {
    padding-right: 15px;
    padding-left: 15px
}
.p_rl_20 {
    padding-right: 20px;
    padding-left: 20px
}
.m_rl_-5 {
    margin-right: -5px;
    margin-left: -5px
}
.m_rl_5 {
    margin-right: 5px;
    margin-left: 5px
}
.m_rl_10 {
    margin-right: 10px;
    margin-left: 10px
}
.m_rl_15 {
    margin-right: 15px;
    margin-left: 15px
}
.m_rl_20 {
    margin-right: 20px;
    margin-left: 20px
}
.p_tb_5 {
    padding-top: 5px;
    padding-bottom: 5px
}
.p_tb_10 {
    padding-top: 10px;
    padding-bottom: 10px
}
.p_tb_15 {
    padding-top: 15px;
    padding-bottom: 15px
}
.p_tb_20 {
    padding-top: 20px;
    padding-bottom: 20px
}
.m_tb_5 {
    margin-top: 5px;
    margin-bottom: 5px
}
.m_tb_10 {
    margin-top: 10px;
    margin-bottom: 10px
}
.m_tb_15 {
    margin-top: 15px;
    margin-bottom: 15px
}
.m_tb_20 {
    margin-top: 20px;
    margin-bottom: 20px
}
.p_0 {
    padding: 0
}
.p_5 {
    padding: 5px
}
.p_10 {
    padding: 10px
}
.p_15 {
    padding: 15px
}
.p_20 {
    padding: 20px
}
.p_25 {
    padding: 25px
}
.p_30 {
    padding: 30px
}
